.certificates {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 1rem;
  padding: 1rem;
}

.certificateImg {
  max-width: 400px;
  width: 100%;
  height: auto;
  border-radius: 12px;
  cursor: pointer;
}
